body{
    font-family: 'Epilogue', sans-serif;
}

/*  --- Navigation --- */

header{
    margin: 0em;
}
.custom-toggler.navbar-toggler { 
    border-color: lightgreen; 
}

/* Credits: Here is the snippet of code from the geeksforgeeks.org post used to colour toggler lines */

.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

.navbar-brand{
    color: #fff;
}
.nav-link:hover, .navbar-brand:hover{
    color: #fff;
}
.nav-link{
    margin-left: 0.625em;
    font-weight: 400;
    font-size: 1.125em;
}
.hvr-underline-from-center:before{
    background: #fff;
}
.navbar-text{
    font-weight: 400;
    font-size: 1.25em;
    color: #fff;
}
.nav-link span{
   margin-left: 0.3125em;
}

.list-inline-item:not(:last-child){
    margin:0;
}
ul li a{    
    color: 	#fff;
}

/* --- Jumbotron --- */

.jumbotron{
    background-image: linear-gradient(to right, rgba(255,0,0,0), #4267b2);
    height: 23em;
}


/*  --- Set Map --- */

#map {
    min-height: 360px;

}

 /* --- Booking Form --- */

 /* --- Credits: code for styling input fields that place font awesome icons inside --- */

.input-icons i { 
  position: absolute; 
 } 
          
.input-icons { 
  width: 100%; 
  margin-bottom: 0.625em; 
} 
          
.icon { 
  padding: 0.625em; 
  min-width: 2.5em; 
  color: #000;
} 
          
.input-field { 
  width: 100%; 
  padding: 10px; 
  text-align: center; 
}

.red {
    outline: 3px solid red;
}
small{
    margin-left: 6em;
}

.center-form{
    /*max-width: 50%; */ 
    background-color: #4267b2;
    border-radius: 1.5em;
    border: 2px solid #73AD21;
    color: #fff;
    padding: 2em;
}
.form-group{
    margin-top: 1.25em;
}
#booking-title{
  background-color: #fff;
  color: #000;
  border-style: outset;
  padding: 0.3em;
}
select{
    text-align-last:center;
    padding-right: 29px;
}
.info-btn{
    margin-top: 1em;
}
.infoContent{
    margin-top: 10px;
    font-weight: 200;
}

/*  --- Footer --- */

footer {
    background-color: #4267b2;
    color: #fafafa;
    min-height: 7.5em;
    margin: 0;
}

#footer-details, #footermap {
    padding: 1.875em;
    margin-top: 3.5625em;
}

.social-links {
    padding-bottom: 0.9375em;
}

.social-links li a i {
    width: 2.1875em;
    margin-right: 2.1875em;
    height: 2.1875em;
    padding: 0.75em 0;
    border-radius: 50%;
    font-size: 1.125em;
    line-height: 0.625em;
    text-align: center;
    color: #fafafa;
    background: #4267b2;
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fff;
    color:#4267b2;
}
.general-sub{
    color: #fff;
}


/* Media Queries */

 /* # Mobile */

@media only screen and (max-width: 768px) {
 
  body {
    font-size: 1.125em;
  }
   .infoContent{
    float: left;
    clear: both;
   }
   small{
    margin-left: 2em;
}
}

  /* # Tablets/Ipads portrait mode */

@media (min-width: 768px) and (max-width: 1024px){ 
    
    /* -- Credits: Here is the code used for generating a sticky footer on iPads. Also used for on media queries for laptops/desktops and larger screen sizes  -- */
    
    #footer-details {
        position: fixed; 
        bottom: 0;
        padding: 1.875em;
        margin-top: 3.125em;
   }

   .social-links {
       margin: 0 auto;
   }
}

 /* # Laptops and Desktops */

@media (min-width: 1025px) and (max-width: 1280px){
   
    #footer-details {
        position: fixed; 
        bottom: 0;
        padding: 1.875em;
        margin-top: 3.125em;
   }
     
} 
          
/* Media Query for Large screens */

@media (min-width: 1281px) { 
      
    .center-form{
        padding-top: 1.875em;
        min-height: 15em;
    }

    #footer-details {
        position: fixed; 
        bottom: 0;
        padding: 1.875em;
        margin-top: 3.125em;
   }

 } 