body{
    font-family: 'Epilogue', sans-serif;
}

/*  --- Navigation --- */

header{
    margin: 0em;
}
.custom-toggler.navbar-toggler { 
    border-color: lightgreen; 
}

/* Setting the stroke to green using rgb values (255, 255, 255) */

.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

.navbar-brand{
    color: #fff;
}
.nav-link:hover, .navbar-brand:hover{
    color: #000;
}
.nav-link{
    margin-left: 0.625em;
    font-weight: 400;
    font-size: 1.125em;
}
.navbar-text{
    font-weight: 400;
    font-size: 1.25em;
    color: #fff;
}
.nav-link span{
   margin-left: 0.3125em;
}

.list-inline-item:not(:last-child){
    margin:0;
}
ul li a{    
    color: 	#fff;
}


/*  --- Set Map --- */

.jumbotron{
    background-color: silver;
}
#map {
    min-height: 360px;

}

 /* --- Booking Form --- */

.input-icons i { 
  position: absolute; 
 } 
          
.input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 
          
.icon { 
  padding: 10px; 
  min-width: 40px; 
} 
          
.input-field { 
  width: 100%; 
  padding: 10px; 
  text-align: center; 
}

.center-form{
    margin: 0 auto;
    max-width: 50%;
    background-color: #4267b2;
    border-radius: 25px;
    border: 2px solid #73AD21;
    color: #fff;
    padding: 2em;
}
select{
    text-align-last:center;
    padding-right: 29px;
}

/*  --- Footer --- */


footer {
    background-color: #4267b2;
    color: #fafafa;
    min-height: 7.5em;
    margin: 0;
    bottom: 0;
}

.cv-pdf i {
     width: 2em;
    height: 2em;
    padding: 0.75em 0;
    border-radius: 50%;
    font-size: 1.125em;
    line-height: 0.5em;
    text-align: center;
    color: #fafafa;
    background: #4267b2;
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    background-color: #fff;
    color: #4267b2; 
}

.social-links {
    padding-bottom: 0.9375em;
    margin: 0 auto;
    max-width: 30%;
}

.social-links li a i {
    width: 2.1875em;
    margin-right: 2.1875em;
    height: 2.1875em;
    padding: 0.75em 0;
    border-radius: 50%;
    font-size: 1.125em;
    line-height: 0.625em;
    text-align: center;
    color: #fafafa;
    background: #4267b2;
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fff;
    color:#4267b2;
}

#footer-details {
    padding: 1.875em;
    margin-top: 3.5625em;
}
.general-sub{
    font-family: "Epilogue", sans-serif;
    color: #fff;
}
.inline-block{
    display: inline-block;
}

